@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Rubik", sans-serif;

  &.no-scroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  color: $grayishBlue;

  @include breakpoint-up(large) {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  color: $veryDarkBlue;
}

h2 {
  font-size: 1.45rem;

  @include breakpoint-up(large) {
    font-size: 1.85rem;
  }
}

// Button
button,
.button {
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

.button {
  color: white;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.875rem;
  background: $softBlue;
  display: inline-block;
  padding: 0.875rem 1.375rem;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0.375rem 12px #5368df6b;
}

.section__intro {
  text-align: center;

  p {
    width: auto;
    margin: 1.25rem auto;

    @include breakpoint-up(large) {
      width: 50%;
    }
  }
}

// Spacing
.container {
  margin: 0 auto;
  max-width: 72rem;

  &--pall {
    padding-top: 2.5rem;
    padding-left: 1.75rem;
    padding-bottom: 2.5rem;
    padding-right: 1.75rem;
  }

  &--px {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  &--py {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  &--pt {
    padding-top: 2.5rem;
  }

  &--pr {
    padding-right: 1.75rem;
  }

  &--pb {
    padding-bottom: 2.5rem;
  }

  &--pl {
    padding-left: 1.75rem;
  }
}

// Grid
.grid {
  display: grid;

  &-pi-c {
    place-items: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
