.hero {
  position: relative;

  .container {
    padding-top: 2.75rem;
    padding-right: 1.75rem;
    grid-template-columns: 1fr;
    row-gap: 4.5rem;

    @include breakpoint-up(large) {
      padding-right: 0;
      padding-top: 3.5rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }

    h1 {
      font-size: 1.8rem;
      line-height: 1.15;

      @include breakpoint-up(large) {
        font-size: 2.75rem;
      }
    }

    p {
      width: auto;
      margin: 1.5rem 0 2rem;

      @include breakpoint-up(large) {
        width: 90%;
        margin: 1.25rem 0 1.5rem;
      }
    }
  }

  &__image {
    order: -1;
    display: flex;

    @include breakpoint-up(large) {
      order: 0;
    }

    img {
      width: 100%;
    }
  }

  &__buttons {
    justify-content: space-between;

    @include breakpoint-up(large) {
      justify-content: start;
    }

    .button {
      padding: 0.75rem;
      font-size: 0.75rem;

      @include breakpoint-up(medium) {
        font-size: 0.875rem;
        padding: 0.875rem 1.375rem;
      }

      &:first-child {
        background: $softBlue;
        margin-right: 0;

        @include breakpoint-up(large) {
          margin-right: 1.25rem;
        }

        &:hover {
          color: $softBlue;
          background: white;
          border: 2px solid $softBlue;
        }
      }

      &:last-child {
        color: $grayishBlue;
        background: #e8eaf6;
        box-shadow: 0px 0.375rem 12px lightgrey;

        &:hover {
          background: white;
          border: 2px solid $grayishBlue;
        }
      }
    }
  }
}
